@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

.font-medium{
    font-family: 'Gotham Medium';
}
.font-bold{
    font-family: 'Gotham Bold';
}
